* {
  box-sizing: border-box;
}

.carrossel-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
}

.carrossel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carrossel img {
  width: 100%;
  height: 100vh;
  flex-shrink: 0;
}

