* {
  box-sizing: border-box;
}

.container_carrossel_cabeçalho {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
}

.carrossel_cabeçalho {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carrossel_cabeçalho img {
  width: 100%;
  height: 90vh;
  flex-shrink: 0;
}

.carrossel {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  height: 100%;
}

.carrossel-content {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
}

.slide {
  min-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
}