* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #FFD3BA;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.438);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
}

header img#logo {
    width: 100px;
    height: 100px;
    margin-left: 10px;
}

header h1 {
    text-align: center;
    font-size: 14px;
}

img#contato {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

body {
    margin-top: 101px;
    background-color: #ffe7d9;
}

nav {
    margin: 40px 0px 10px 0px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
    flex-wrap: wrap;
}

nav button {
    background-color: #E6AA85;
    border: none;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0px 1px 5px;
    align-content: center;
}

section {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0px 40px 0px;
    padding: 20px;
    gap: 10%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.659);
}

section button {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border-radius: 10px;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.anterior {
    left: 10px;
}

.proximo {
    right: 10px;
}

.card {
    width: 150px;
    height: 150px;
    background-color: #ffe7d9;
    border-radius: 20px;
    box-shadow: 0px 1px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card img {
    width: 95%;
    height: 95%;
    border-radius: 15px;
}

section h1, p {
    text-align: center;
}

section#drenagem {
    background-image: linear-gradient(to top,#D89B84, #C8866C ,#D89B84);
}

section#limpeza_de_pele {
    background-image: linear-gradient(to top, #F5DDD1, #EEC9B7 ,#F5DDD1);
}

section#massagem {
    background-image: linear-gradient(to top, #A46D4A, #885635 ,#A46D4A);
}

section#depilaçao {
    background-image: linear-gradient(to top, #F5C399, #F0B080 ,#F5C399);
}

section#design {
    background-image: linear-gradient(to top, #FDCBAA, #FBB88D,#FDCBAA);
}

section#contatos {
    background-color: #FFD3BA;
    height: 300px;
    margin: 0px;
}
section#contatos h1 {
    text-align: left;
}

section#contatos img {
    background-color: #FFD3BA;
    width: 200px;
    height: 200px;
    
}

footer {
    background-color: #5A3E36;
    height: auto;
    text-align: center;
    
}